@import "abstracts/variables";

@import "layout/header.scss";
@import "layout/footer.scss";
@import "layout/page-content.scss";

@import "typography/title.scss";
@import "typography/text.scss";

@import "components/button.scss";
@import "components/logo.scss";
@import "components/item.scss";

@import "font.css";

body {
  margin: 0;
  background-color: $dark-grey;
  color: $text-primary;
  font-family: 'Montserrat', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li+li {
    margin-top: 16px;
  }
}