$bg-color: #1b1b1b;
$border-primary: #858585;



$gutter : 8px;
$header-height: 48px;

$text-secondary: #cdcdcd;
$text-primary: #fff;

/**
 * Font Sizing
 */
$text-bold: 800;
$font-size-sm: 0.75rem;
$font-size-sm-2: 0.85rem;
$font-size-med: 1rem;
$font-size-med-2: 1.2rem;
$font-size-large: 2rem;
$font-size-xl: 3rem;

/**
 * Line Height
 */
$line-height: 1.5;

$font-size-h1: 48px !default;
$font-size-h2: 36px !default;
$font-size-h3: 27px !default;
$font-size-h4: 19px !default;