footer {
  width: 100%;
  height: $footer-height;
  color: $text-secondary;
  background-color: $dark-grey;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid $light-grey;
  position: fixed;
  bottom: 0;
  z-index: 2;
}