header {
  width: 100%;
  height: $header-height;
  color: $text-secondary;
  background-color: $dark-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $light-grey;
  position: fixed;
  top: 0;
  z-index: 3;
}